SECRET_KEY=django-insecure-cambia_esto_por_una_clave_segura
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Base de datos (por defecto SQLite, descomenta para PostgreSQL)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=libredrop
# DB_USER=postgres
# DB_PASSWORD=tu_password
# DB_HOST=localhost
# DB_PORT=5432
